openapi: 3.2.0
info:
  title: Camb.AI Languages API
  description: The Camb.AI API provides generative voice AI - text-to-speech, dubbing, translation, voice discovery and cloning, and transcription - powered by the MARS (speech / voice) and BOLI (translation) research models.
  version: '1.0'
  contact:
    name: Camb.AI
    url: https://www.camb.ai
servers:
- url: https://client.camb.ai/apis
  description: Camb.AI production API
security:
- apiKeyAuth: []
tags:
- name: Languages
  description: Supported source and target languages.
paths:
  /source-languages:
    get:
      operationId: getSourceLanguages
      tags:
      - Languages
      summary: List source languages
      description: Lists all supported source languages with identifiers and locale tags.
      responses:
        '200':
          description: A list of source languages.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Language'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /target-languages:
    get:
      operationId: getTargetLanguages
      tags:
      - Languages
      summary: List target languages
      description: Lists all supported target languages with identifiers and locale tags.
      responses:
        '200':
          description: A list of target languages.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Language'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
    Language:
      type: object
      properties:
        id:
          type: integer
        language:
          type: string
        short_name:
          type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
